@import variables

article
  transition: all slide_transition_length slide_transition_easing
  display: none
  &.bespoke-parent
    display: block
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    overflow: hidden
    perspective 600px
    @media print
      overflow: visible
      position: static

    &.orange
      background secondary
      color white

    &.white
      background white
      color primary

.bespoke-parent
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: hidden

.bespoke-scale-parent
  position: absolute
  perspective 600px
  top: 0
  left: 0
  right: 0
  bottom: 0
  pointer-events: none
  .bespoke-active
    pointer-events: auto

.bespoke-slide
  transition:
  transform slide_transition_length slide_transition_easing,
  opacity slide_transition_length slide_transition_easing,
  background slide_transition_length slide_transition_easing
  transform-origin: 50% 50% 0
  transform: translate3d(0,0,0)
  backface-visibility: hidden
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  width: slide_width
  height: slide_height
  position: absolute
  top: 50%
  margin-top: (slide_height / 2) * -1
  left: 50%
  margin-left: (slide_width / 2) * -1
  padding: 40px
  border-radius: 0
  @media print
    zoom: 1 !important // disable bespoke-scale
    height: 743px // seems to correspond with an A4, landscape page height
    width: 100%
    page-break-before: always
    position: static
    margin: 0

.bespoke-inactive
  opacity: 0
  pointer-events: none

.bespoke-backdrop
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: -1
  opacity: 0

.bespoke-backdrop-active
  opacity: 1

.bespoke-after
  transform translateX(slide_transition_nudge_x * -1) translateX(slide_width / -2) rotateY(slide_transition_rotate_y * -1) translateX(slide_width / -2)
  //-moz-transform translateX(slide_transition_nudge_x * -1) translateX(slide_width / -2) translateX(slide_width / -2) rotate(-0.01deg)

.bespoke-before
  transform translateX(slide_transition_nudge_x) translateX(slide_width / 2) rotateY(slide_transition_rotate_y) translateX(slide_width / 2)
  //-moz-transform translateX(slide_transition_nudge_x) translateX(slide_width / 2) translateX(slide_width / 2)
  @media print
    transform: none

.bespoke-inactive
  opacity: 0
  pointer-events: none
  @media print
    opacity 1

.bespoke-active
  opacity: 1
  transition-delay: .2s

//progress bar
.bespoke-progress-parent
  position: absolute
  top: 0
  left: 0
  right: 0
  height: .3vw
  z-index 15

.bespoke-progress-bar
  position: absolute
  height: 100%
  background: darken(secondary, 10)
  transition: width .6s ease
