article {
  transition: all 0.6s ease;
  display: none;
}
article.bespoke-parent {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  perspective: 600px;
}
@media print {
  article.bespoke-parent {
    overflow: visible;
    position: static;
  }
}
article.bespoke-parent.orange {
  background: #f16913;
  color: #fff;
}
article.bespoke-parent.white {
  background: #fff;
  color: #303030;
}
.bespoke-parent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.bespoke-scale-parent {
  position: absolute;
  perspective: 600px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
.bespoke-scale-parent .bespoke-active {
  pointer-events: auto;
}
.bespoke-slide {
  transition: transform 0.6s ease, opacity 0.6s ease, background 0.6s ease;
  transform-origin: 50% 50% 0;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 640px;
  height: 480px;
  position: absolute;
  top: 50%;
  margin-top: -240px;
  left: 50%;
  margin-left: -320px;
  padding: 40px;
  border-radius: 0;
}
@media print {
  .bespoke-slide {
    zoom: 1 !important;
    height: 743px;
    width: 100%;
    page-break-before: always;
    position: static;
    margin: 0;
  }
}
.bespoke-inactive {
  opacity: 0;
  pointer-events: none;
}
.bespoke-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
}
.bespoke-backdrop-active {
  opacity: 1;
}
.bespoke-after {
  transform: translateX(640px) translateX(-320px) rotateY(-20deg) translateX(-320px);
}
.bespoke-before {
  transform: translateX(-640px) translateX(320px) rotateY(20deg) translateX(320px);
}
@media print {
  .bespoke-before {
    transform: none;
  }
}
.bespoke-inactive {
  opacity: 0;
  pointer-events: none;
}
@media print {
  .bespoke-inactive {
    opacity: 1;
  }
}
.bespoke-active {
  opacity: 1;
  transition-delay: 0.2s;
}
.bespoke-progress-parent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0.3vw;
  z-index: 15;
}
.bespoke-progress-bar {
  position: absolute;
  height: 100%;
  background: #c5540c;
  transition: width 0.6s ease;
}
