.image
  background-position: center
  background-repeat: no-repeat

  &-free-beer
    background-size cover
    background-image url(../images/background/freebeer.jpg)

  &-once-upon-a-time
    background-size contain
    background-image url(../images/background/once_upon_a_time.jpg)

  &-quiz
    background-size contain
    background-image url(../images/background/quiz.png)

  &-xerox-9700
    background-size cover
    background-image url(../images/background/xerox_9700.jpg)

  &-rainclouds
    background-size cover
    background-image url(../images/background/rainclouds.jpg)

  &-rage
    background-size cover
    background-image url(../images/gif/rage.gif)

  &-i386
    background-size contain
    background-image url(../images/i386.jpg)

  &-community
    background-size contain
    background-image url(../images/background/community.jpg)

  &-licences
    background-size contain
    background-image url(../images/background/licences.jpg)

  &-openstreetmap
    background-size contain
    background-image url(../images/background/openstreetmap.png)

  &-bubbles
    background-size contain
    background-image url(../images/gif/bubbles.gif)

  &-mordor
    background-size cover
    background-image url(../images/background/mordor.jpg)

  &-communists
    background-size cover
    background-image url(../images/background/communists.jpg)

  &-steveballmer
    background-size cover
    background-image url(../images/background/steveballmer.jpg)

  &-wtf
    background-size cover
    background-image url(../images/background/wtf.jpg)

  &-evolution
    background-size cover
    background-image url(../images/gif/evolution.gif)

  &-fight
    background-size cover
    background-image url(../images/gif/fight.gif)

  &-comfort-zone
    background-size cover
    background-image url(../images/background/comfort_zone.png)

  &-learning-curve
    background-size contain
    background-image url(../images/background/learncurve.gif)

  &-sales-marketing
    background-size contain
    background-image url(../images/background/sales-marketing.jpg)

  &-support
    background-size contain
    background-image url(../images/background/support.png)

  &-too-many-choices
    background-size contain
    background-image url(../images/background/too_many_choices.jpg)

  &-interoperability
    background-size contain
    background-image url(../images/background/interoperability.png)

  &-erebor
    background-size contain
    background-image url(../images/background/erebor.jpg)

  &-hobbit
    background-size contain
    background-image url(../images/background/hobbit.jpg)

  &-big-ben
    background-size cover
    background-image url(../images/background/big-ben.jpg)

  &-react-hype
    background-size cover
    background-image url(../images/background/react-hype.jpg)

  &-unicorn1
    background-size contain
    background-image url(../images/background/unicorn1.png)

  &-unicorn2
    background-size contain
    background-image url(../images/background/unicorn2.png)

  &-data
    background-size cover
    background-image url(../images/background/data.jpg)

  &-database
    background-size cover
    background-image url(../images/background/databases.jpg)

  &-overload
    background-size cover
    background-image url(../images/background/overload.jpg)

  &-stamen
    background-size contain
    background-image url(../images/background/stamen.png)

  &-clouds
    background-size contain
    background-image url(../images/background/cloud.jpg)

  &-consultant
    background-size contain
    background-image url(../images/background/consultant.jpg)
