.image
  background-position: center
  background-repeat: no-repeat

  &-jockey-ewing
    background-size contain
    background-image url(../images/background/larryhagman.jpg)

  &-uh-oh
    background-size 100%
    background-image url(../images/gif/uh-oh.gif)

  &-facepalm
    background-size cover
    background-image url(../images/background/facepalm.png)

  &-realtime
    background-size contain
    background-image url(../images/background/realtime.png)

  &-countdown
    background-size 100% 100%
    background-image url(../images/gif/countdown.gif)

  &-bubbles
    background-size contain
    background-image url(../images/gif/bubbles.gif)

  &-custom-crs
    background-size cover
    background-image url(../images/background/projections.png)

  &-ingredients
    background-size cover
    background-image url(../images/background/ingredients.jpg)

  &-free-beer
    background-size cover
    background-image url(../images/background/freebeer.jpg)

  &-sailboat
    background-size 100% 100%
    background-image url(../images/background/sailboat.jpg)

  &-reidhoffman
    background-size 100% 100%
    background-image url(../images/background/reidhoffman.jpg)

  &-github-commits
    background-position center 25px
    background-image url(../images/github-commits.png)

  &-under-the-hood
    background-size cover
    background-image url(../images/background/under_the_hood.jpg)

  &-replication
    background-size contain
    background-image url(../images/replication.png)

  &-modules
    background-size 45%
    background-position center 10px
    background-image url(../images/modules.png)

  &-travel-time
    background-size contain
    background-image url(../images/background/travel_time.png)

  &-dashboard
    background-position center -15px
    background-size 100%
    background-image url(../images/gif/dashboard-150.gif)

  &-vespos
    background-position center -14px
    background-size 96%
    background-image url(../images/gif/vespos-150.gif)

  &-dossier
    background-position center -14px
    background-size 100%
    background-image url(../images/gif/dossier-150.gif)

  &-reference-tms
    background-position center -14px
    background-size 96%
    background-image url(../images/gif/reference-tms-100.gif)

  &-tms-cad
    background-position center -14px
    background-size 99%
    background-image url(../images/gif/tms-cad-100.gif)

  &-future
    background-size cover
    background-image url(../images/background/the-future.jpg)

  &-unicorn1
    background-size contain
    background-image url(../images/background/unicorn1.png)

  &-browsers1
    background-size contain
    background-image url(../images/background/browsers1.jpg)

  &-unicorn2
    background-size contain
    background-image url(../images/background/unicorn2.png)

  &-browsers2
    background-size contain
    background-image url(../images/background/browsers2.jpg)

  &-webdevelopment
    background-size contain
    background-image url(../images/background/webdevelopment.png)

  &-fight
    background-size cover
    background-image url(../images/gif/fight.gif)

  &-geospatial
    background-size cover
    background-image url(../images/background/geospatial.png)
