@import 'normalizecss/normalize.css'

@import variables
@import bespoke

//fonts
@import url("http://fonts.googleapis.com/css?family=Play:400,700")

//base
*
  box-sizing: border-box
  margin: 0
  padding: 0

@media print
  *
    -webkit-print-color-adjust: exact

@page
  size: landscape
  margin: 0

body
  color white
  font-family 'Play', sans-serif
  background-color primary

a
  transition all link_transition_length link_transition_easing
  color secondary
  text-decoration none
  &:hover
    color darken(secondary, 20)

//general styles
.highlight
  color secondary

.bgHighlight
  background-color rgba(255,255,255,0.5)

.orange
  color orange

.left
  width 100%
  text-align left

.right
  width 100%
  text-align right

.top
  height 100%
  vertical-align top

.bottom
  margin-top auto

.text-6em
  font-size 6em

.text-3em
  font-size 3em

.text-small
  font-size .25em

.monospace
  font-family "Courier New", Courier, monospace
  background-color black

.cell
  display inline-block
  vertical-align middle

//images
.image
  background-position: center
  background-repeat: no-repeat
  &-iris-annoucement
    background-size 70%
    background-image url(../images/iris_2.2_annoucement.png)

  &-uh-oh
    background-size 100%
    background-image url(../images/gif/uh-oh.gif)

  &-licence-frustration
    background-size 100% 100%
    background-image url(../images/licence-frustration.jpg)

  &-real-time-data
    background-size 100% 100%
    background-image url(../images/realtime.jpg)

  &-quick-deployment
    background-size 100% 100%
    background-image url(../images/gif/skydive.gif)

  &-custom-crs
    background-size 100%
    background-image url(../images/projections.png)

  &-bubbles
    background-size 100% 100%
    background-image url(../images/gif/bubbles.gif)

  &-ingredients
    background-size 100% 100%
    background-image url(../images/ingredients.jpg)

  &-sailboat
    background-size 100% 100%
    background-image url(../images/sailboat.jpg)

  &-reidhoffman
    background-size 100% 100%
    background-image url(../images/reidhoffman.jpg)

  &-replication
    background-size 60%
    background-image url(../images/replication.png)
