@import url(http://fonts.googleapis.com/css?family=Play:400,700&subset=latin,latin-ext);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css)
@import 'normalizecss/normalize.css'

@import variables
@import bespoke
@import images

//base
*
  box-sizing: border-box
  margin: 0
  padding: 0

@media print
  *
    -webkit-print-color-adjust: exact

@page
  size: landscape
  margin: 0

body
  color white
  font-family 'Play', sans-serif
  background-color primary

a
  transition all link_transition_length link_transition_easing
  color secondary
  text-decoration none
  &:hover
    color darken(secondary, 20)


//general styles
.highlight
  color secondary

.bgHighlight-white
  background-color rgba(255,255,255,0.5)

.bgHighlight-primary
  background-color alpha(primary, 0.5)

.left
  width 100%
  text-align left

.right
  width 100%
  text-align right

.top
  height 100%
  vertical-align top

.center
  height 100%
  margin-top auto
  vertical-align center

.bottom
  margin-top auto

.text-6em
  font-size 6em

.text-3em
  font-size 3em

.text-small
  font-size .25em

.monospace
  font-family "Courier New", Courier, monospace
  background-color black

.cell
  display inline-block
  vertical-align middle

.avatar
  display block
  margin 0 auto
  width 120px
  height 120px
  border-radius 120px

  &-small
    display initial
    width 60px
    height 60px
