@import url("http://fonts.googleapis.com/css?family=Play:400,700&subset=latin,latin-ext");
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
@import 'normalizecss/normalize.css';
article {
  transition: all 0.6s ease;
  display: none;
}
article.bespoke-parent {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  perspective: 600px;
}
@media print {
  article.bespoke-parent {
    overflow: visible;
    position: static;
  }
}
article.bespoke-parent.orange {
  background: #f16913;
  color: #fff;
}
article.bespoke-parent.white {
  background: #fff;
  color: #303030;
}
.bespoke-parent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.bespoke-scale-parent {
  position: absolute;
  perspective: 600px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
.bespoke-scale-parent .bespoke-active {
  pointer-events: auto;
}
.bespoke-slide {
  transition: transform 0.6s ease, opacity 0.6s ease, background 0.6s ease;
  transform-origin: 50% 50% 0;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 640px;
  height: 480px;
  position: absolute;
  top: 50%;
  margin-top: -240px;
  left: 50%;
  margin-left: -320px;
  padding: 40px;
  border-radius: 0;
}
@media print {
  .bespoke-slide {
    zoom: 1 !important;
    height: 743px;
    width: 100%;
    page-break-before: always;
    position: static;
    margin: 0;
  }
}
.bespoke-inactive {
  opacity: 0;
  pointer-events: none;
}
.bespoke-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
}
.bespoke-backdrop-active {
  opacity: 1;
}
.bespoke-after {
  transform: translateX(640px) translateX(-320px) rotateY(-20deg) translateX(-320px);
}
.bespoke-before {
  transform: translateX(-640px) translateX(320px) rotateY(20deg) translateX(320px);
}
@media print {
  .bespoke-before {
    transform: none;
  }
}
.bespoke-inactive {
  opacity: 0;
  pointer-events: none;
}
@media print {
  .bespoke-inactive {
    opacity: 1;
  }
}
.bespoke-active {
  opacity: 1;
  transition-delay: 0.2s;
}
.bespoke-progress-parent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0.3vw;
  z-index: 15;
}
.bespoke-progress-bar {
  position: absolute;
  height: 100%;
  background: #c5540c;
  transition: width 0.6s ease;
}
.image {
  background-position: center;
  background-repeat: no-repeat;
}
.image-jockey-ewing {
  background-size: contain;
  background-image: url("../images/background/larryhagman.jpg");
}
.image-uh-oh {
  background-size: 100%;
  background-image: url("../images/gif/uh-oh.gif");
}
.image-facepalm {
  background-size: cover;
  background-image: url("../images/background/facepalm.png");
}
.image-realtime {
  background-size: contain;
  background-image: url("../images/background/realtime.png");
}
.image-countdown {
  background-size: 100% 100%;
  background-image: url("../images/gif/countdown.gif");
}
.image-bubbles {
  background-size: contain;
  background-image: url("../images/gif/bubbles.gif");
}
.image-custom-crs {
  background-size: cover;
  background-image: url("../images/background/projections.png");
}
.image-ingredients {
  background-size: cover;
  background-image: url("../images/background/ingredients.jpg");
}
.image-free-beer {
  background-size: cover;
  background-image: url("../images/background/freebeer.jpg");
}
.image-sailboat {
  background-size: 100% 100%;
  background-image: url("../images/background/sailboat.jpg");
}
.image-reidhoffman {
  background-size: 100% 100%;
  background-image: url("../images/background/reidhoffman.jpg");
}
.image-github-commits {
  background-position: center 25px;
  background-image: url("../images/github-commits.png");
}
.image-under-the-hood {
  background-size: cover;
  background-image: url("../images/background/under_the_hood.jpg");
}
.image-replication {
  background-size: contain;
  background-image: url("../images/replication.png");
}
.image-modules {
  background-size: 45%;
  background-position: center 10px;
  background-image: url("../images/modules.png");
}
.image-travel-time {
  background-size: contain;
  background-image: url("../images/background/travel_time.png");
}
.image-dashboard {
  background-position: center -15px;
  background-size: 100%;
  background-image: url("../images/gif/dashboard-150.gif");
}
.image-vespos {
  background-position: center -14px;
  background-size: 96%;
  background-image: url("../images/gif/vespos-150.gif");
}
.image-dossier {
  background-position: center -14px;
  background-size: 100%;
  background-image: url("../images/gif/dossier-150.gif");
}
.image-reference-tms {
  background-position: center -14px;
  background-size: 96%;
  background-image: url("../images/gif/reference-tms-100.gif");
}
.image-future {
  background-size: cover;
  background-image: url("../images/background/the-future.jpg");
}
.image-webdevelopment {
  background-size: contain;
  background-image: url("../images/background/webdevelopment.png");
}
.image-fight {
  background-size: cover;
  background-image: url("../images/gif/fight.gif");
}
.image-mean {
  background-size: 100%;
  background-image: url("../images/mean.png");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@media print {
  * {
    -webkit-print-color-adjust: exact;
  }
}
@page {
  size: landscape;
  margin: 0;
}
body {
  color: #fff;
  font-family: 'Play', sans-serif;
  background-color: #303030;
}
a {
  transition: all link_transition_length link_transition_easing;
  color: #f16913;
  text-decoration: none;
}
a:hover {
  color: #953f09;
}
.highlight {
  color: #f16913;
}
.bgHighlight-white {
  background-color: rgba(255,255,255,0.5);
}
.bgHighlight-primary {
  background-color: rgba(48,48,48,0.5);
}
.left {
  width: 100%;
  text-align: left;
}
.right {
  width: 100%;
  text-align: right;
}
.top {
  height: 100%;
  vertical-align: top;
}
.center {
  height: 100%;
  margin-top: auto;
  vertical-align: center;
}
.bottom {
  margin-top: auto;
}
.text-6em {
  font-size: 6em;
}
.text-3em {
  font-size: 3em;
}
.text-small {
  font-size: 0.25em;
}
.monospace {
  font-family: "Courier New", Courier, monospace;
  background-color: #000;
}
.cell {
  display: inline-block;
  vertical-align: middle;
}
.avatar {
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 120px;
  border-radius: 120px;
}
