//variables
primary = #303030
secondary = #f16913

slide_width = 640px
slide_height = 480px

slide_transition_length = .6s
slide_transition_easing = ease
slide_transition_rotate_y = 20deg
//Safari bugs out on 3d transform-origins, so we have to fake it
slide_transition_nudge_x = -640px
slide_transition_scale = 0.4

bullet_transition_length = .3s
bullet_transition_easing = ease

link_transition_length = .2s
link_transition_easing = ease