doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Webtérképek az energiaiparban
    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 (
          span.highlight nyílt forráskódú
          | )
          br
          | webtérképek az&nbsp;
          span.highlight energia
          | iparban
        h3 esettanulmány

      section
        h1.left rólam
        h2.left Berényi Attila
        div.left
          | szabadúszó térinformatikai fejlesztő @
          a(href="http://gislab.hu") GISLab
          br
          br
          a(href="https://twitter.com/AttilaBerenyiDr" target="_blank") @AttilaBerenyiDr
          br
          a(href="mailto:aberenyi@gislab.hu") aberenyi@gislab.hu

      section.image.image-iris-annoucement
        h1.top.left miről lesz szó?

      section.bullet
        h1.left.bullet
          span.highlight probléma
          | &nbsp;-> igény
        h1.left.bullet első lépések (0.x - 1.x)
        h1.left.bullet hol tartunk most (2.2)
        h1.left.bullet sikerek/hibák/
          span.highlight jövőkép&nbsp;
          | (3.0)

      section
        h1.left
          | - Ez a terv utolsó verziója?
          br
          | - Nem, azt hittem Pista elküldte neked...
          br
          | - Pista szabin van...
          br
          span.highlight Aj-jaj

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')