doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Webtérképek az energiaiparban
    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', type='text/css', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')

  body
    article
      section
        h1
          span.highlight webtérkép
          | ek az&nbsp;
          span.highlight energiaipar
          | ban
        h3 &mdash; esettanulmány

      section
        h1
          | Egy&nbsp;
          span.highlight FOSS4G
          | &nbsp;komponensenkre épülő projekt-támogatási rendszer az&nbsp;
          span.highlight (offshore) olaj- és gázipar
          | ban

      section
        h1.left Berényi Attila
        div.left
          strong térinformatikai fejlesztő @&nbsp;
            a(href="http://gislab.hu") GISLab
        br
        div.left
          span.fa-stack
            i.fa.fa-square-o.fa-stack-2x
            i.fa.fa-twitter.fa-stack-1x
          a(href="https://twitter.com/AttilaBerenyiDr" target="_blank") @AttilaBerenyiDr
          br
          span.fa-stack
            i.fa.fa-square-o.fa-stack-2x
            i.fa.fa-send.fa-stack-1x
          a(href="mailto:aberenyi@gislab.hu") aberenyi@gislab.hu
          
      section
        h1 Miben különleges az&nbsp;
          span.highlight {energia,olaj- és gáz}
          | ipar?
        
      section
        h1
          span.highlight semmi
          | ben*
        div.text-small *az iparágban dolgozók véleménye ettől eltérhet

      section
        h1.left
          span.highlight probléma&nbsp;
          i.fa.fa-arrows-h
          | &nbsp;igény
        h1.left hol tartunk most (2.2)
        h1.left
          span.highlight hibák
          | /
          span.highlight jövőkép

      section
        h2.left
          | - Ezek a legfrissebb koordináták?
          br
          | - Nem, azt hittem Pista elküldte neked.
          br
          | - Pista szabin van...
          br

      section.image.image-uh-oh
        h1.right.text-6em.highlight Ajjaj

      section.image.image-licence-frustration
        h1.highlight.text-6em
          br
          | Licensz
          br
          | problémák

      section.image.image-real-time-data
        h1.highlight.text-6em Valós idejű adatok

      section.image.image-quick-deployment
        h1.highlight.text-6em Határidő

      section.image.image-custom-crs
        h1.top.text-3em
          span.highlight.bgHighlight Egyedi vetületek

      section.image.image-bubbles(data-bespoke-state='orange')
        h1.text-6em Webtérkép!

      section
        h2
          span.highlight Kiszervezett
          | &nbsp;vagy&nbsp;
          span.highlight házon belüli
          | &nbsp;megoldás?
        h2 &nbsp;
        h2
          | E**I A*cG*S Server/Online === jelentős időráfordás, magas költségigény, licensz korlátozások&nbsp;
          span.monospace > /dev/null
      
      section.image.image-ingredients
        h1.text-6em.bgHighlight.highlight
          i.fa.fa-heart-o
            strong &nbsp;FOSS4G 
      
      section.image.image-sailboat(data-bespoke-state='orange')
        h1.top.right.text-3em
          span.highlight Iris (v0.1)
          br
          | Minimum
          br
          | Viable
          br
          | Product
        
      section.image.image-reidhoffman
        h1.bottom "If you are not embarrassed by the first version of your product, you've launched too late."
        | &mdash; Reid Hoffman
          
      section
        h1.text-6em
          i.fa.fa-forward.fa-2x

      section.image.image-iris-annoucement

      section
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')
