doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Open Source + GIS = FOSS4G
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article
      section
        h1
          span Open Source + GIS =
          span.highlight  FOSS4G

      section
        img.avatar.avatar-small(src='images/aberenyi.jpg')
        h2 Berényi Attila
        br
        img(src="images/gislab.png" width="125")
        br
        div
          i.fa.fa-twitter
          a(href="https://twitter.com/AttilaBerenyiDr" target="_blank")  @AttilaBerenyiDr
          br
          i.fa.fa-send
          a(href="mailto:aberenyi@gislab.hu")  aberenyi@gislab.hu
            
      section
        h1.highlight(data-bespoke-bullet)
          | open source/free software [OSS]
          br
          | nyílt forráskód[ú]/szabad szoftver
        h1(data-bespoke-bullet) szabadon megosztható
        h1(data-bespoke-bullet) szabadon változtatható
        h1(data-bespoke-bullet) a változtatások szabadon megoszthatók
        
      section.image.image-free-beer
        h1.top
          .bgHighlight-white
            span.highlight free 
            span software
          .bgHighlight-primary 
            span free as in&nbsp;
            span.highlight free speech 
            br
            span not as in&nbsp;
            span.highlight free beer
        h1.bottom Steven Feldman 
          br
          a(href="http://knowwhereconsulting.co.uk/there-is-no-such-thing-as-a-free-lunch/" target="_blank")
            | There is no such thing as a free lunch

      section.image.image-once-upon-a-time
        div.bottom.text-3em.bgHighlight-primary MIT AI Lab ~1980
        
      section.image.image-quiz(data-bespoke-state='quiz')
      
      section(data-bespoke-state='quiz')
        h1 #1 Minek a rövidítése az MIT?
      
      section
        img(src="images/rms.jpg")
        
      section
        h1.text-3em ötletek és megvalósításuk (kód)
          span.highlight  megosztása
        
      section.image.image-xerox-9700
      
      section
        .monospace.text-3em printer has jammed
          
      section.image.image-rainclouds
        .bgHighlight-primary.text-3em a dolgok kezdtek megváltozni...
          
      section.image.image-rage
      
      section
        h1(data-bespoke-bullet) operációs rendszerek
        h1(data-bespoke-bullet)
          | Unix&nbsp;
          span.highlight
            i.fa.fa-usd
            i.fa.fa-usd
            i.fa.fa-usd
          | &nbsp;
          i.fa.fa-battery-full
        h1(data-bespoke-bullet) Minix&nbsp;
          span.highlight
            i.fa.fa-usd
          | &nbsp;
          i.fa.fa-battery-quarter
        h1(data-bespoke-bullet)
          span.highlight G
          | NU's&nbsp;
          span.highlight N
          | ot&nbsp;
          span.highlight U
          | nix&nbsp;
          span.fa-stack
            i.highlight.fa.fa-usd.fa-stack-1x
            i.fa.fa-ban.fa-stack-2x
          | &nbsp;
          i.fa.fa-battery-full

      section
        div.monospace(style="padding: 15px")
          h2 libraries
          h2 compilers
          h2 shells
          h2 editors
          h2.muted-40 kernel
          h2 &nbsp;
          h2.muted-20 hardware
          
      section
        h1.text-6em
          i.fa.fa-forward
          | 1991
        
      section
        img(src="images/linus_tordvalds.jpg")

      section.image.image-i386(data-bespoke-state='white')
      
      section
        div.monospace(style="padding: 15px")
          h2 libraries
          h2 compilers
          h2 shells
          h2 editors
          h2.highlight kernel
          h2 &nbsp;
          h2.muted-20 hardware
      
      section.image.image-bubbles
        h1.text-3em.highlight GNU/Linux
        
      section
        h1(data-bespoke-bullet) 1995 - Red Hat Linux ($2 mrd)
        h1(data-bespoke-bullet) 1998 - internet "uralom"
        
      section.image.image-community
        span(data-bespoke-bullet) &nbsp;
        .bgHighlight-white.highlight(data-bespoke-bullet)
          h1 szabadon megosztható
          h1 szabadon változtatható
          h1 a változtatások szabadon megoszthatók
          
      section
        .text-3em
          i.fa.fa-twitter
          i.fa.fa-facebook
          i.fa.fa-google
          i.fa.fa-wikipedia-w
          i.fa.fa-github
          i.fa.fa-chrome
          i.fa.fa-amazon
          i.fa.fa-firefox
          | ...

      section.image.image-openstreetmap(data-bespoke-state='white')

      section
        iframe(src="https://player.vimeo.com/video/16146087" width="500" height="281" frameborder="0"
        webkitallowfullscreen mozallowfullscreen allowfullscreen)

      section
        .text-6em
          i.fa.fa-copyright.fa-rotate-180
          |  
          i.fa.fa-copyright
      
      section.image.image-licences
        .top
          h2.highlight
            i.fa.fa-lg.fa-creative-commons
        .bottom
          h2.bgHighlight-white
            a(href="https://tldrlegal.com/" target="_blank") https://tldrlegal.com/
            
      section
        strong.text-3em a nyílt forráskód 
          span.highlight trend
          | ből 
          span.highlight normá
          | vá vált
          
      section.image.image-mordor
        .bottom 1985. november 20-án kiadásra került a Microsoft Windows 1.0

      section(data-bespoke-state='quiz')
        h1 #2 Ki(k) alapították a Microsoftot?

      section.image.image-steveballmer
        h3 Linux is not in the public domain. 
          span.highlight Linux is a cancer
          |  that attaches itself in an intellectual property 
          | sense to everything it touches. That's the way that the license works. [2001]
        br
        h5 I've got my kids brainwashed: You don't use Google, and you don't use an iPod. [2006]
        br
        h5 There's no chance that the iPhone is going to get any significant market share. No chance. [2007]
        
      section.image.image-communists
        .top
          h3.bgHighlight-primary There's no company called Linux [...] Yet Linux sort of springs organically from the 
            | earth. And it had, you know, the characteristics of 
            span.highlight communism
            |  that people love so very, very much about it. That is, it's 
            span.highlight free
            | . [2000]
          
      section
        h1
          span Nyílt forráskód a térinformatikában, avagy 
          span.highlight FOSS4G
          
      section
        h1(data-bespoke-bullet) - Te mivel foglalkozol?
        h1(data-bespoke-bullet) - 
          span.highlight Tér
          | informatikus vagyok.
        
      section.image.image-wtf
      
      section.image.image-evolution
      
      section
        h1(data-bespoke-bullet) a térinformatika fejlődési fázisai
        h2(data-bespoke-bullet)
          span.highlight '90 
          | GIS ~= (desktop) E*RI [
          i.fa.fa-copyright
          | ]
          
        h2(data-bespoke-bullet)
          span.highlight '00 
          | web2.0 ~ webtérképek [
          span.highlight FOSS4G
          | ,
          i.fa.fa-copyright
          | ]
        h2(data-bespoke-bullet)
          span.highlight '10 
          | SaaS, 3D, big data (?) [
          span.highlight FOSS4G
          | ,
          i.fa.fa-copyright
          | ]
        h2(data-bespoke-bullet)
          span.highlight '20 
          | ??? [
          span.highlight FOSS4G
          | ,
          i.fa.fa-copyright
          | ]
        
      section(data-bespoke-state='quiz')
        h1 #3 Minek a rövítése a SaaS?
        
      section.image.image-fight
        h1.text-3em FOSS4G
          br
          span.highlight pro 
          | és kontra
          
      section.image.image-comfort-zone
        
      section.image.image-learning-curve(data-bespoke-state='white')
      
      section.image.image-sales-marketing(data-bespoke-state='white')
      
      section.image.image-support(data-bespoke-state='white')
      
      section.image.image-too-many-choices
      
      section(data-bespoke-state='white')
        div
          img.cell(src="images/grass_30.png" height="100")
          img.cell(src="images/gvsig.png" height="100")
          img.cell(src="images/qgis.png" height="100")
        div
          img.cell(src="images/mapwindow.png" height="50")
          
      section.image.image-interoperability(data-bespoke-state='white')
        h3.bottom.bgHighlight-white
          a(href="http://boundlessgeo.com/video/unknowns-managers-guide-open-source/" target="_blank") 
            | Paul Ramsey - The Unknowns: A Managers Guide to Open Source
          
      section.image.image-erebor
        h2.row(data-bespoke-bullet)
          .cell-3 &nbsp
          .cell-3
            i.fa.fa-copyright
          .cell-3
            i.fa.fa-copyright.fa-rotate-180
        h2.row(data-bespoke-bullet)
          .cell-3 hardware
          .cell-3 5
            i.fa.fa-btc
          .cell-3 5
            i.fa.fa-btc
        h2.row(data-bespoke-bullet)
          .cell-3 software
          .cell-3 30
            i.fa.fa-btc
          .cell-3 0
            i.fa.fa-btc
        h2.row(data-bespoke-bullet)
          .cell-3 oktatás
          .cell-3 0
            i.fa.fa-btc
          .cell-3 30
            i.fa.fa-btc
        h2.row.bgHighlight-white.highlight(data-bespoke-bullet)
          .cell-3 összesen
          .cell-3 35
            i.fa.fa-btc
          .cell-3 35
            i.fa.fa-btc
            
      section.image.image-hobbit
        h2.row(data-bespoke-bullet)
          .cell-3 &nbsp
          .cell-3
            i.fa.fa-copyright
          .cell-3
            i.fa.fa-copyright.fa-rotate-180
        h2.row.bgHighlight-white.highlight(data-bespoke-bullet)
          .cell-3
          .cell-3 35
            i.fa.fa-btc
          .cell-3 35
            i.fa.fa-btc
        h2.row(data-bespoke-bullet)
          .cell-3 hardware (3*)
          .cell-3 15
            i.fa.fa-btc
          .cell-3 15
            i.fa.fa-btc
        h2.row(data-bespoke-bullet)
          .cell-3 software (3*)
          .cell-3 90
            i.fa.fa-btc
            | &nbsp;
            span.highlight
              i.fa.fa-clock-o
              | !
          .cell-3 0
            i.fa.fa-btc
        h2.row(data-bespoke-bullet)
          .cell-3 oktatás
          .cell-3 0
            i.fa.fa-btc
          .cell-3 0
            i.fa.fa-btc
        h2.row.bgHighlight-white.highlight(data-bespoke-bullet)
          .cell-3 összesen
          .cell-3 140
            i.fa.fa-btc
          .cell-3 50
            i.fa.fa-btc
            
      section.image.image-big-ben(data-bespoke-state='white')
      
      section.image.image-react-hype(data-bespoke-state='white')
      
      section.image.image-unicorn1(data-bespoke-state='white')
      
      section(data-bespoke-state='white')
        h2 
          | 2014. február 21. (!)
          br
          a(href="http://blogs.esri.com/esri/arcgis/2014/02/21/esris-roadmap-for-web-developers/" target="_blank")
            | Julie Powell - E**i’s Roadmap for Web Developers
        h2.deprecated Flex/Silverlight
        
      section.image.image-unicorn2(data-bespoke-state='white')
      
      section
        h1 esettanulány 1
        h1 A minősé
          span.highlight G IS
          |  számít&trade; Bt
        
      section.image.image-data
        .bgHighlight-white(style="padding: 5px")
          a(href="http://www.naturalearthdata.com/" target="_blank")
            img(src="images/natural-earth.png" height="100")
        .bgHighlight-white(style="padding: 5px")
          a(href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" target="_blank")
            img(src="images/ogl.png")
        
      section(data-bespoke-state='quiz')
        h1 #4 Milyen relációban áll az információ és az adat?
        
      section.image.image-database
        .bgHighlight-white(style="padding: 5px")
          img(src="images/postgresql.png")
        div
          img(src="images/postgis.png")
        
      section
        h2
          .monospace(data-bespoke-bullet) POINT(19.05597 47.48171),4326
          .monospace(data-bespoke-bullet) 0101000020E61000009F8EC70C540E3340FD135CACA8BD4740
          i.fa.fa-arrow-circle-down(data-bespoke-bullet)
          div(data-bespoke-bullet)
            img(src="images/geoserver.png" height="60")
            br
            img(src="images/mapnik.png")
          i.fa.fa-arrow-circle-down(data-bespoke-bullet)
          .text-3em.highlight
            i.fa.fa-map-marker(data-bespoke-bullet)
            
      section.image.image-overload
        div(data-bespoke-bullet)
        div.bgHighlight-white(data-bespoke-bullet)
          img(src="images/mapproxy.png")
        div(data-bespoke-bullet)
          img(src="images/tilestache.png" height="75")
          
      secion.image.image-stamen
        .left
          div
            img(src="images/ol3.png")
          div
            img.bgHighlight-white(src="images/leaflet.png")
        
      section
        h2 Iván Sánchez
          a(href="https://github.com/IvanSanchez/leaflet-vs-openlayers-slides" target="_blank") 
            br
            | Leaflet vs OpenLayers
        h2 &nbsp;
        h2 Éric Lemoine
          a(href="http://erilem.net/a-response-to-ivans-leaflet-vs-openlayers-talk.html" target="_blank") 
            br
            | A response to Iván's "Leaflet vs OpenLayers" talk
          
      section(data-bespoke-state='quiz')
        h1 #5 Mit jelentenek a UI és UX mozaikszavak?

      section
        h1 esettanulány 2
        h1 Görö
          span.highlight G IS
          | tennők&trade; Kft.
        
      section.image.image-clouds
        div
          img(src="images/mapbox.png")
        div
          img(src="images/cartodb.png" height="80")
        
      section.image.image-consultant
        div.bgHighlight-white
          img(src="images/boundless.png")
        br
        div
          img(src="images/camptocamp.png")
        br
        div
          img(src="images/52north.gif")
      
      section
        h1
          i (majdnem) vége
        span Special thanks to 
          a(href="http://www.cleverelephant.ca" target="_blank") Paul Ramsey
          |  for being himself.
        br
        span Made with
          a(href='http://markdalgleish.com/projects/bespoke.js/' target="_blank")  Bespoke.js
          |  by
          a(href='http://twitter.com/markdalgleish' target="_blank")  @markdalgleish
          
      section(data-bespoke-state='white')
        h1(data-bespoke-bullet) MOL Bubi Challenge
          br
          a(href="https://dms.sztaki.hu/bubi/" target="_blank") https://dms.sztaki.hu/bubi/
        h2(data-bespoke-bullet) Task 1: Busiest route prediction
        h2(data-bespoke-bullet) Task 2: Docking Station Demand prediction
        h2(data-bespoke-bullet) Task 3: Open research task


      section(data-bespoke-state='quiz')
        h2 Helyes válaszok
        br
        h2 #1 Massachusetts Institute of Technology
        h2 #2 Bill Gates és Paul Allen
        h2 #3 Software as a Service
        h2 #4 információ = értelmezett adat
        h2 #5 User {Interface, Experience}
        
    script(src='build/build.js')
