doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Webtérképek az energiaiparban
    link(rel='stylesheet', type='text/css', href='build/build.css')

    article
      section
        h1
          span.highlight webtérkép
          | ek az&nbsp;
          span.highlight energiaipar
          | ban
        h3 &mdash; esettanulmány

      section
        .left
          img.avatar.avatar-small(src='images/aberenyi.jpg')
          h2 Berényi Attila
          h4 térinformatikai fejlesztő @ 
            a(href="http://gislab.hu" target="_blank")
              img(src="images/gislab.png" height="15")
          br
          div
            span.fa-stack
              i.fa.fa-square-o.fa-stack-2x
              i.fa.fa-twitter.fa-stack-1x
            a(href="https://twitter.com/AttilaBerenyiDr" target="_blank") @AttilaBerenyiDr
            br
            span.fa-stack
              i.fa.fa-square-o.fa-stack-2x
              i.fa.fa-send.fa-stack-1x
            a(href="mailto:aberenyi@gislab.hu") aberenyi@gislab.hu

      section
        img(src="images/lr_senergy.png" height="50")
        h1
          | Egy&nbsp;
          span.highlight FOSS4G
          |  komponensenkre épülő projekt-támogatási&nbsp;
          span.highlight keret
          | rendszer az&nbsp;
          span.highlight olaj- és gáz
          | iparban

      section.image.image-jockey-ewing
        h1.bottom.bgHighlight-primary
          span.highlight Olaj- és gáz
          | ipar?!

      section
        .left
          h1
            | múlt &mdash;&nbsp;
            span.highlight probléma&nbsp;
            i.fa.fa-arrows-h
            |  igény
          h1 jelen
          h1
            | jövő &mdash;&nbsp;
            span.highlight kihívások 
            i.fa.fa-arrows-h
            |  fejlesztési irány

      section
        h2.left
          | Valahol Ausztráliától délre, 2013 elején
          br
          br
          | - Ezek a legfrissebb koordináták?
          br
          | - Nem, azt hittem Bob elküldte neked.
          br
          | - Bob szabin van...
          br

      section.image.image-uh-oh
        h1.right.text-6em.highlight Ajjaj

      section.image.image-facepalm
        .right.top
          img(src="images/no_licence.png" height="140")
        h1.bottom.text-3em Licensz problémák

      section.image.image-realtime
        h1.bgHighlight-primary.text-3em Valós idejű adatok

      section.image.image-bubbles(data-bespoke-state='orange')
        h1.text-6em Webtérkép!

      section.image.image-countdown
        h1.text-6em.bgHighlight-primary Határidő

      section.image.image-custom-crs
        h1.top.text-3em
          span.bgHighlight-primary Vetületek

      section
        h1
          span.highlight Kiszervezett
          | &nbsp;vagy&nbsp;
          span.highlight házon belüli
          | &nbsp;megoldás?

      section
        h1 E**I A*cG*S Server/Online
        div
          div.cell
            h1
              i.fa.fa-2x.fa-clock-o &nbsp;
          div.cell
            h1
              i.fa.fa-2x.fa-copyright &nbsp;
          div.cell
            h1
              i.fa.fa-2x.fa-gbp &nbsp;
        h1.monospace > /dev/null 2>&1

      section.image.image-ingredients
        h1.text-6em.bgHighlight-white.highlight
          i.fa.fa-heart-o
          strong FOSS4G 

      section.image.image-free-beer
        h1.bottom Steven Feldman 
          a(href="http://knowwhereconsulting.co.uk/there-is-no-such-thing-as-a-free-lunch/" target="_blank")
            | There is no such thing as a free lunch

      section.image.image-sailboat(data-bespoke-state='orange')
        h1.top.right.text-3em
          span.highlight Iris (1.0)
          br
          | Minimum
          br
          | Viable
          br
          | Product

      section.image.image-reidhoffman
        h1.bottom "If you are not embarrassed by the first version of your product, you've launched too late."
        | &mdash; Reid Hoffman

      section.image.image-github-commits
        h1.text-6em.bottom.highlight
          i.fa.fa-forward.fa-2x

      section
        img.avatar(src='images/SamRFranklin.jpg')
        h1 "After nearly two years in the making [...] Iris 2.2 is&nbsp;
          a(href="http://lr-senergy.com/media-centre/press-releases/2014/lr-senergy-launches-web-access-to-subsea-inspection-data-with-%E2%80%98iris%E2%80%99" target="_blank") out
          | "
        span &mdash;&nbsp;
          a(href='https://twitter.com/SamRFranklin' target="_blank") Sam Franklin

      section.image.image-under-the-hood
        h1.bottom.text-3em.highlight.bgHighlight-white A motorháztető alatt...

      section
        img(src="images/rackspace.jpg" width="300")
        h1
          i.fa.fa-plus-square
        img(src="images/archlinux.png" width="350")

      section
        img.cell(src="images/postgis.png" width="350")
        h1.cell
          i.fa.fa-plus-square
        img.cell(src="images/geoserver.png" width="350")

      section.image.image-replication

      section
        div
          div.cell
            img(src="images/nginx.png" height="40")
          h3.cell
            i.fa.fa-plus-square
          div.cell
            img(src="images/php.png" height="50")

      section
        div
          div.cell
            img(src="images/jquery.png" height="45")
          h3.cell
            i.fa.fa-plus-square
          div.cell
            img(src="images/bootstrap.png" height="80")
          h3.cell
            i.fa.fa-plus-square
          div.cell
            img(src="images/openlayers.png" height="90")

      section.image.image-modules
        h1.text-3em.bottom modulok
          br
          | sablonok

      section.image.image-travel-time

      section.image.image-dashboard
        h1.bottom.bgHighlight-white
          a(href="http://www.highcharts.com/" target="_blank") Highcharts

      section.image.image-vespos

      section.image.image-dossier

      section
        h1 map-video interaction

      section
        h1
          a(href="http://en.wikipedia.org/wiki/Tile_Map_Service") TMS
        div
          div.cell
            img(src="images/tilemill.png" height="50")
          h3.cell
            i.fa.fa-plus-square
          div.cell
            img(src="images/mapnik.png" height="40")
          h3.cell
            i.fa.fa-plus-square
          div.cell
            img(src="images/mapproxy.png" height="40")

      section.image.image-reference-tms

      section.image.image-tms-cad

      section.image.image-future(data-bespoke-state='orange')

      section.image.image-unicorn1(data-bespoke-state='white')
        h1.bottom.bgHighlight-white Webfejlesztés a közelmúltig...

      section.image.image-browsers1(data-bespoke-state='white')

      section.image.image-unicorn2(data-bespoke-state='white')
        h1.bottom.right
          span.bgHighlight-white ...és napjainkban

      section.image.image-browsers2(data-bespoke-state='white')
      
      section.image.image-webdevelopment(data-bespoke-state='white')
      
      section.image.image-fight
        h1.bottom.text-3em Technológiák harca

      section
        div.bgHighlight-white
          div.cell
            img(src="images/mongodb.png" width="200")
          h1.cell
            i.highlight.fa.fa-bolt
          div.cell
            img.center(src="images/postgresql.png" width="200")
        br
        div
          div.cell
            img(src="images/php.png" height="50")
          h1.cell
            i.highlight.fa.fa-bolt
          div.cell
            img(src="images/nodejs.png" height="50")
        br
        div
          div.cell
            img(src="images/grunt.png" height="80")
          h1.cell
            i.highlight.fa.fa-bolt
          div.cell
            img(src="images/gulp.png" height="80")
        h2 . . .

      section.image.image-geospatial
        
      section
        div
          div.cell
            img(src="images/mapbox.png" height="65")
          div.cell
            img(src="images/webgl.png" height="75")
        div
          div.cell
            img(src="images/ol3.png")
          div.cell
            img(src="images/cesium.png" height="100")
        h2 . . .

      section
        h1
          i vége
        span Made with
          a(href='http://markdalgleish.com/projects/bespoke.js/' target="_blank")  Bespoke.js
          |  by
          a(href='http://twitter.com/markdalgleish' target="_blank")  @markdalgleish 
  body
    script(src='build/build.js')

